main {
  @include outer-container();

  .dashboard-headline {

    p {
      img {
        position: relative;
        top: 7px;
      }

      .dashboard-title {
        color: $dark-blue;
        font-size: 1.3em;
      }

    } // p

  } // dashboard-headline

  .dashboard-content {
    @include outer-container();

    .quick-view {
      @include content-border();
      @include content-padding();
      @include span-columns(6);

      form {
        text-align: center
      }

      div {
        margin-top: 20px;

        #apiKeyStatus {
          padding-top: 10px;
          display: block;
        }

      }

    } // quick-view

    .quick-view-droplet {
      @include content-border();
      @include content-padding();
      @include span-columns(6);
      
      .droplet-info {
        text-align: center;
      } // droplet-info

    } // quick-view-droplet

  } // dashboard-content

} // main